
<body>
    <%if (locals.user){%>
<div id = "feed-posts">
    <h4>Posts</h4>
    <form action="post/create" id = "new-post-form" method="POST">
        <textarea name="content" cols="30"rows="3" placeholder="Type here...."></textarea>
        <input type="submit" value="Post">
    </form>
</div>
<%}%>
<section>
    <ul>
        <%for (post of posts){%>
                <li><%=post.content%>
                <small><%= post.user.name %></small>
                </li>
        <%}%>
    </ul>
</section>
</body>
