<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
<div id = "feed-posts">
    <h4>Posts</h4>
    <form action="post/create" id = "new-post-form" method="POST">
        <textarea name="content" cols="30"rows="3" placeholder="Type here...."></textarea>
        <input type="submit" value="Post">
    </form>
</div>
</body>
</html>